*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(44, 44, 44);
    font-family: sans-serif, Arial, Helvetica ;
}

main{
    width: 100%;
}

/* form div  */
.form-container{
    width: 23rem;
    max-width: 95%;
    margin: auto;
    margin-top: 80px;
    padding: 24px;
    padding-top: 36px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
}

/* signin singnup heading  */
.form-container h1{
    display: block;
    margin: auto;
    margin-bottom: 36px;
    width: fit-content;
}
.form-container h1, label[for="sign-option"]{
    background: linear-gradient(90deg, rgba(241,100,31,1) 0%, rgba(246,125,36,1) 32%, rgba(248,152,42,1) 64%, rgba(255,200,45,1) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-container h1::after{
    content: "";
    border: 1px solid rgb(255, 188, 45);
    display: block;
    width: 75px;
    margin: auto;
    margin-top: 5px;
    border-radius: 25px;
}


/* form contents */
#signin-form, #signup-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
}
#signin-form>div, #signup-form>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signin-form input, #signup-form input{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    outline: 0;
    border-radius: 5px;
    letter-spacing: .8px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#signin-form input:focus, #signup-form input:focus{
    box-shadow: rgba(246,125,36,1) 0px 1px 4px;
}


/* default display for signup form is none */
.signup-div, #sign-option{
    display: none;
}


.option-text{
    font-size: 14px;
    width: fit-content;
    margin: auto;
    color: rgb(114, 114, 114);
}

label[for="sign-option"]{
    font-size: 16px;
    cursor: pointer;
}

/* submit button  */
#signin-form input[type="submit"], 
#signup-form input[type="submit"]{
    width: 100%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 0;
    border: 0;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(241,100,31,1) 0%, rgba(246,125,36,1) 32%, rgba(248,152,42,1) 64%, rgba(255,200,45,1) 100%);
}

#signin-form input[type="submit"]:hover, 
#signup-form input[type="submit"]:hover{
    background: linear-gradient(90deg, rgb(250, 90, 10) 0%, rgb(253, 119, 24) 32%, rgb(250, 144, 23) 64%, rgb(252, 193, 31) 100%);  
}

@media screen and (max-width: 480px) {
    .form-container{
        width: 100%;
    }
    #signin-form input, #signup-form input{
        width: 100%;
        margin-top: 5px;
    }
}