@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.fi{
    color: red;
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: bold;

}

button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgb(244, 126, 9);
}

#reset-btn{
    width: 60px;
}
.toolbar {
    background-color: #ffffff; /* Solid background color */
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 20px;
    z-index: 1000;
}

img{
color: red;
font-size: 30px;

}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:100px;
}

.saved-files{
    border: 1px solid rgb(147, 143, 143);
    width: 18%;
}
h3{
    margin-top: 0;
    background-color: rgb(242, 94, 41);
    color: white;
    text-align: center;
    padding: 15px;
    width: 90%;
    border: 1pf solid black;

}
canvas {
    width: 75%;
    border: 1px solid #8a8686;
    cursor: crosshair;
    margin-right: 10px;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

/* To make the textarea auto-expand */
textarea {
    overflow: hidden;
    resize: none;
    min-width: 100px;
    min-height: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1000;
}

.saved-files {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-thumbnail {
    border: 1px solid rgb(169, 164, 164);
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.file-thumbnail img {
    width: 100%;
    height: 100%;
}


#imageUpload{
    color: white;
}